@import './mixin.scss';

.wheel-fortune {

		// .wheel-fortune__container-box

		&__container-box {
      @include nsm {
        font-weight: 900;
        position: relative;
      }
		}

		// .wheel-fortune__swiper-container

		&__swiper-container {
      @include nsm {
        width: 40vw;
        height: 100svh;
        margin: auto;
      }
		}

		// .wheel-fortune__swiper-wrapper

		&__swiper-wrapper {
      @include nsm {
      }

      // .wheel-fortune__swiper-wrapper_transition-linear

      &_transition-linear{
        @include nsm {
          transition-timing-function: linear !important;
        }
      }

      // .wheel-fortune__swiper-wrapper_ban-event

      &_ban-event{
        @include nsm {
          pointer-events: none;
        }
      }
		}
    
		// .wheel-fortune__swiper-slide
    
		&__swiper-slide {
      @include nsm {
      }
      
      &.swiper-slide-active{
        transform: scale(1.15);
      }
		}

    // .wheel-fortune__img

		&__img {
      @include nsm {
        width: 100%;
      }
		}

    // .wheel-fortune__button

		&__button {
      @include nsm {
        background-color: #9e9eed;
        border-radius: 4.4vw;
        padding: 3.2vw 5.2vw;
        font-size: 4.2vw;
        color: #fff;
        font-weight: 500;
        position: absolute;
        bottom: 5vw;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 1;
      }

      // .wheel-fortune__button_ban-event

      &_ban-event{
        @include nsm {
          pointer-events: none;
        }
      }
		}
}
