@import './mixin.scss';

.wheel-fortune {

		// .wheel-fortune__container-box

		&__container-box {
      @include nsm {
        font-weight: 900;
        position: relative;
      }
		}

		// .wheel-fortune__swiper-container

		&__swiper-container {
      @include nsm {
        width: 50vw;
        height: 100vh;
        margin: auto;
        overflow: hidden;
      }
		}

		// .wheel-fortune__swiper-wrapper

		&__swiper-wrapper {
      @include nsm {
        // transition-timing-function: linear !important;
      }
		}
    
		// .wheel-fortune__swiper-slide
    
		&__swiper-slide {
      @include nsm {
      }
      
      // .wheel-fortune__swiper-slide_start-animation

      &_start-animation{
        @include nsm {
          animation: run-items infinite ease-in 2.5s;
        }

        @keyframes run-items {
          to{transform: translateY(-1500%);} 
        }
      }
		}

    // .wheel-fortune__img

		&__img {
      @include nsm {
        width: 100%;
      }
		}

    // .wheel-fortune__button

		&__button {
      @include nsm {
        background-color: #9e9eed;
        border-radius: 4.4vw;
        padding: 3.2vw 5.2vw;
        font-size: 5.2vw;
        color: #fff;
        font-weight: 500;
        position: absolute;
        bottom: 30vw;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 1;
      }
		}
}
